@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  html.transition-theme {
    @apply transition-colors duration-300;
  }
  body {
    @apply bg-offwhite text-charcoal antialiased dark:bg-slate-900 dark:text-slate-100;
  }
  :focus-visible {
    @apply outline-2 outline-offset-2 outline-accent;
  }
  a:focus-visible,
  button:focus-visible {
    @apply outline-2 outline-offset-2 outline-accent;
  }
}
